.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
}

.links {
  text-decoration: none;
  margin: 0 10px;
}

.links a {
  color: #000;
}
